.flex-container{
    display: flex;
    
}
.firstBox{
     width: 70%;
     height: 100vh;
     display: flex;
     background-color: white;
}
.secondBox{
    width: 30%;
    height: 100vh;
    background-color: brown;

}
h3.webLink{
    color: rgb(80, 37, 37);
    padding-left: 20px;
    padding-top: 20px;

}

.firstBox .LoginDisplay{
      
    align-self: center;
   padding-top: 10%;
    width: 400px;
   
    height: 500px;
}
.hrContainer{
    width: 500px;
    margin-top: 40px;
}
.HrStyling{
    display: flex;
    
}
  
hr{
    width: 250px;
    margin-left: 40px;
    margin-right: 40px;
}
.ScannningDescription{
  display: flex;
  
}
.scanningbtn{
    border-radius: 70px !important;
    margin-left:8% !important;
    height: 30px;
}
@media (max-width:1149px){
    .firstBox .LoginDisplay{
        padding-top: 10%;
        width: 400px;
        height: 500px;
    }
}
@media (max-width:954px){
    .firstBox .LoginDisplay{
       padding-top: 10%;
       width: 400px;
        height: 500px;
        margin-left: -100px;
    }
    .HrStyling{
        display: flex;
        margin-right: 50px;
    }
}
