.MainContiner{
    width: 100%;
    height: 100vh;
    background-color: cadetblue;
}
.col1{
    background-color: white;
}
.col2{
    background-color: coral;
    margin: 0px;
    padding: 0px;
}
.row{
    width: 100%;
    height: 100vh;
    margin-left: 0px;
}
.centralize{
    width: 70%;
    margin-left: 30% !important;
    padding-top: 10% !important;
    margin: 0 auto;
    padding: 20px 40px;
    border-radius: 10px;
    
   
     
}
.hrContainer{
    width: 70%;
    margin-top: 40px;
    margin-left: 15%;
}
.HrStyling{
    display: flex;
    
}
h4.link{
    color: #034770;
    margin-top: 10px;
    margin-left: 10px;
}
  
hr{
    width:60%;
    margin-left: 10px;
    margin-right: 10px;
    border-color: black;
}
.scanningContainer{
    display: flex;
    justify-content: center;
    width:  90% !important;
}
.scanningBtn{
      margin-top: 0px !important;
      border-radius: 50px !important;
      
      
}
img.secondboxImage{
    width: 100% !important;
    height: 100%;
}
@media (max-width:992px){
    .scanningContainer{
        flex-direction: column;
        justify-content: center;
    }
    .scanningBtn{
          margin-top: 10px;
          margin-left: 20% !important;
    }
    
    .scanningDescription{
         margin-left: 30%;
    }
    .centralize{
        width: 100%;
        margin-left: -8% !important;
        padding-top: 5% !important;     
   }
      
    hr{
        margin-left: 0px;
        margin-right: 0px;    
    }
    .hrContainer{
        width: 100%;
        margin-top: 10px;
        margin-left: 12%;
    }
    
    
}