.foot{
    margin: 0px;
    background-image: url("./Login/loginImage.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 30vh;
    
}
@media screen and (max-width: 767px) {
    .foot{
        margin: 0px;
        height: 90%;
        
    }
  }
  Button.linkBtn{
      text-decoration: none;
      color: #FFFFFF;
      opacity: 0.7;
      font-family: Source Sans Pro;
      font-weight: bold;
      margin-top: 4px;
      text-transform: none;
      border: 0px;
  }
  Button:active{
      color: #FFFFFF;
      font-weight: bold;
  }
  Button.linkBtn:active{
      color: white;
      border-color: white;
  }

.firstLogo{
    font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 11px;
display: block;

color: #CCCCCC;
}